<h1>Stack Interview</h1>

<h3>login</h3>
<% if @message %> 
	<span><%= @message %></span>
<% end %> 

<%= form_tag login_path do %> 
	<%= email_field_tag :email, params[:email], placeholder: 'email' %> <br>
	<%= password_field_tag :password, params[:password], placeholder: 'password' %><br> 
	<%= submit_tag "Submit", class: 'btn' %> <%= link_to 'not a member?', signup_path %> 
<% end %> 